<footer>
    <address>
        <p>

            Email : ganesh@gamil.com
        </p>
        <p>
            Phone no : 513680654549
        </p>

    </address>
    <p>
        Copyrights &copy; all rights reserved.
    </p>
</footer>